numpy
pandas
pillow
torch
torchvision
tqdm
scikit-learn
scipy
matplotlib
seaborn
networkx
umap-learn
shap
xgboost
joblib
openpyxl
python-docx
wandb
pytest
opencv-python
openslide-python
pyimagej
jpype1
scyjava
